:root {
    --color-channel-gray: #2f3136;
    --color-server-name-header-arrow-gray: #d5d6d6;
    --color-server-name-header-hover-gray: rgba(51,54,60,1);
    --color-line-light-black: #222427;
    --color-channel-user-hover: #393c42;
}

.channels {
    position: absolute;
    left: 72px;
    width: 250px;
    height: 100vh;
    background-color: var(--color-channel-gray);
    z-index: 14;
}

.server-name-header {    
    display: flex;
    justify-content: space-between;
    height: 6.85vh;

    &:hover {
        background-color: var(--color-server-name-header-hover-gray);
        cursor: pointer;
    }
}

.server-name-header > h1 {
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    width: 90%;
    padding: 7%;
}

.server-name-header > span {
    color: var(--color-server-name-header-arrow-gray);
    font-size: 13px;
    font-family: 'Open Sans';
    margin-top: 5px;
    font-weight: 600;
    padding: 7%;
}

.channels > .line {
    border-bottom: 1px solid var(--color-line-light-black);
}

.text-channels {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 6px 6px 0px 2px;
    margin: 9px 9px 1px 9px;
    font-size: 14px;
    font-family: 'Open Sans';
    color: var(--color-light-gray);
    font-weight: 600;

}

.text-channels > .add-channel {
    font-size: 20px;
    position: relative;
    bottom: 6px;
    padding: 3px;
    &:hover {
        color: #dcdeee;
        cursor: pointer;
    }
}


.channel-add-hover {    
    display: none;
    background: black;
    position: absolute;
    left: 170px;
    bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.text-channels > .add-channel:hover + .channel-add-hover {
    display: initial;
}

.text-channels-list {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 20px;
}

.text-channels-list > a {
    display: flex;
    position: relative;
    justify-content: space-between;
    text-decoration: none;
    color: gray;
    padding: 5px 8px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 17px;
    margin-left: -9px;
    margin-right: 9px;
    margin-bottom: 10px;
    
    &:hover {
        background-color: var(--color-channel-user-hover);
        cursor: pointer;
        border-radius: 5px;

        color: white;
    }
}

.top-nav-bar {
    position: absolute;
    width: 100%;
    background-color: #36393f;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid black;
    z-index: 13;
    left: 322px;
}

.channel-name {
    margin-left: 17px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: white;
    line-height: 20px;
    font-size: 16px;
}

.channel-messages {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 322px;
}

.channel:hover > img {
    display: initial;
}

.channel > img {
    display: none;
    mix-blend-mode: multiply;
    width: 14px;
    padding: 1px;
}

.channel > img:hover + .channel-edit-hover {
    display: initial;
}

.channel-edit-hover {
    display: none;
    background: black;
    position: absolute;
    left: 170px;
    bottom: 30px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
}