.channel-placeholder {
    position: absolute;
    left: 72px;
    width: 250px;
    height: 100vh;
    background-color: var(--color-channel-gray);
    z-index: 10;
}

.server-header-placeholder {
    height: 6.85vh;
}

.channel-placeholder h1 {
    color: white;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 7%;
    width: 90%;

}

.channel-placeholder .line {
    border-bottom: 1px solid #222427;
}

.chat-placeholder {
    background-color: #36393f;
    position: absolute;
    left: 322px;
    width: 100%;
    height: 100%;
    z-index: 1;
}