:root {
    --color-dark-gray-server: #202325;
    --color-green: #43b581;
    --color-purple: #7289da;
    --color-server-off-white: #DCDDDE;
    --color-server-button-gray: rgba(54,57,63,1);
    --color-footer-gray: #2a2b2f;
    --color-logout-red: rgb(240, 71, 71);
    --color-add-server-desc-gray: #747f8D;
    --color-add-server-name: #4f5660;
    --color-border-lightest-gray: #e3e5e8;
    --color-bottom-form-lightest-gray: #f6f6f7;
}

.servers {
    background: var(--color-dark-gray-server);
    height: 100vh;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    z-index: 15;
}

.servers::-webkit-scrollbar { /* hide scrollbar for Chrome, Safari, and Opera */
    display: none;
}

.server-button {
    width: 48px;
    height: 48px;
    background: var(--color-server-button-gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    transition: all 0.1s ease-in-out;
    color: var(--color-server-off-white);
    font-family: 'Open Sans';
    font-weight: 600;
    text-decoration: none;

    &:hover {
        border-radius: 25%;
        background-color: #7289da;
        cursor: pointer;
    }
}

.server-button:hover .server-name-hover {
    position: fixed;
}

.separator {
    width: 38px;
    height: 2px;
    background: var(--color-server-button-gray);
    margin-bottom: 10px;
    left: 4px;
}

.footer {
    position: absolute;
    background: var(--color-footer-gray);
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 250px;
    height: 52px;
    margin-left: 72px;
    z-index: 15;
}

.footer-button {
    background-color: var(--color-logout-red);
    font-size: 16px;
    color: white;
    width: 80px;
    border-radius: 5px;
    font-weight: 200;
    margin-bottom: 11px;
    margin-top: 11px;
    margin-right: 10px;
    padding: 7px;
    border: 0;

    &:hover {
        z-index: 3px;
        opacity: .85;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.footer-username {
    line-height: 28px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans';
    padding: 11px;
}

.server-name-hover {
    background: black;
    position: absolute;
    left: 77px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
    white-space: nowrap;
}

#add-server-button > .add-server-name-hover {
    background: black;
    position: fixed;
    left: 63px;
    padding: 5px;
    border-radius: 8px;
    z-index: 10;
    white-space: nowrap;
    font-family: 'Open Sans';
    color: var(--color-server-off-white);
    font-weight: 600;
    bottom: 100px;
    font-size: 16px;
}

#add-server-button {
    font-size: 36px;
    font-weight: 100;
    color: var(--color-green);
    
    &:hover {
        color: var(--color-server-off-white);
        background-color: var(--color-green);
    }
}

#add-server-button:hover .server-name-hover {
    display: initial;
}

#add-server-button > .server-name-hover {
    color: var(--color-server-off-white);
    font-family: 'Open Sans';
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
}