@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --color-light-gray: #8e9297;
    --color-lighter-gray: #72767d;
    --color-dark-gray: #303438;
    --color-light-purple: #7288da;
    --color-hover-purple: #677bc4;
    --color-form: #36393f;
    --color-form-input: #dcddde;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

@keyframes fall {
    0% {bottom: 100px;}
    10% {bottom: 90px}
    25% {bottom: 75px;}
    35% {bottom: 65px;}
    50% {bottom: 50px;}
    60% {bottom: 40px;}
    75% {bottom: 25px;}
    85% {bottom: 15px;}
    100% {bottom: 0px;}
}

.session-form {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;

    background: var(--color-form);
    width: 480px;
    padding: 32px;
    box-shadow: 0px 2px 10px 0 rgba(0,0,0,.5);
    border-radius: 5px;
    flex-wrap: wrap;
    font-family: 'Open Sans';

    animation-duration: 0.3s;
    animation-name: fall;
}

.form-type {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 30px;
}

.form-submessage {
    font-size: 14px;
    color: #B9BBBE;
    text-align: center;
    line-height: 20px;

}

.form-type-field {
    display: flex;
    flex-direction: column;
}

.form-type-field > span {
    color: #8E9297;
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.form-input {
    height: 20px;
    padding: 10px;
    background-color: var(--color-dark-gray);
    border-style: none;
    border-radius: 3px;
    border: 1px solid black;
    color: var(--color-form-input);
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px;

    &:focus {
        border-color: var(--color-light-purple);
        outline: none;
    }
}

.form-submit {
    background-color: var(--color-light-purple);
    font-size: 16px;
    color: white;
    width: 100%;
    border-radius: 5px;
    font-weight: 200;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 11px;
    border: 0;

    &:hover {
        background-color: var(--color-hover-purple);
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

form > a {
    color: var(--color-light-purple);
    text-decoration-line: none;
    font-size: 14px;

    &:visited {
        color: var(--color-light-purple);
    }

    &:hover {
        text-decoration: underline;
    }
}

.alt-form-type {
    color: var(--color-lighter-gray);
    margin-right: 5px;
    font-size: 14px;
}