.users {
    background-color: #303136;
    width: 240px;
    height: 100vh;
}

.users-list {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20%;
}

.user {
    color: rgba(118, 181, 250, 1);
    padding: 8px 5px 8px 13px;
    margin-bottom: 6px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 17px;

    &:hover {
        background-color: var(--color-channel-user-hover);
        color: white;
    }
}

.users-list > h1 {
    color: var(--color-light-gray);
    padding: 8px 5px 8px 5px;
    margin-bottom: 6px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 17px;
}